@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth
    snap-y;
  }
}
@layer utilities {
  .striped > div:nth-child(even) {
    @apply bg-gray-100;
  }
}
@layer components {
  .toolbar {
    @apply bg-cyan-900
    w-full
    fixed
    z-10;
  }
  .button {
    @apply text-gray-300
      hover:border-b-2
    hover:border-b-orange-500 
    hover:text-white;
  }
  .active-button {
    @apply border-b-2 
    border-b-orange-500  
    text-white;
  }
  .el-container {
    @apply md:max-w-[768px]
    sm:max-w-[640px]
    lg:max-w-[1024px]
    mx-auto;
  }
  .pages {
    @apply min-h-screen
    scroll-mt-16
    px-8
    pb-5
    snap-start;
  }
  .description-text {
    @apply text-justify text-lg font-light text-gray-500;
  }
  .card {
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
    @apply duration-100 hover:scale-150;
  }
  .card-title {
    @apply text-left
      font-semibold
      text-lg
      pb-3;
  }
  .skill-card {
    @apply max-w-[350px]
      bg-gray-50
      text-sm
      font-light
      text-gray-500
      min-w-[320px];
  }
  .project-card {
    @apply w-[220px]
      bg-gray-50
      text-sm
      font-light
      text-gray-500
      rounded-lg
      p-2
      shadow-xl
      duration-100 
      hover:scale-105
      cursor-pointer;
  }
  .icon-button {
    @apply border
     hover:border-transparent
     focus:outline-none
     font-medium rounded-lg 
     text-sm px-5 
     py-2.5 
     text-center 
     inline-flex 
     items-center 
     mr-2 
     mb-2
     min-w-[140px];
  }
  .mail-button {
    @apply text-[#D34836] 
    border-[#D34836]
    hover:text-white 
    hover:bg-[#D34836]/90 
    dark:text-[#D34836];
    focus: ring-[#D34836]/50;
  }

  .hireme-button {
    @apply text-[#16A801] 
    border-[#16A801]
    hover:text-white 
    hover:bg-[#16A801] 
    dark:text-[#16A801];
    focus: ring-[#16A801]/50;
  }
  .linkedin-button {
    @apply text-[#0D66C2] 
    border-[#0D66C2]
    hover:text-white 
    hover:bg-[#0D66C2] 
    dark:text-[#0D66C2];
    focus: ring-[#0D66C2]/50;
  }
  .github-button {
    @apply text-[#24292E] 
    border-[#24292E]
    hover:text-white 
    hover:bg-[#24292E] 
    dark:text-[#24292E];
    focus: ring-[#24292E]/50;
  }
  .content-title {
    @apply pt-8 text-4xl font-semibold text-cyan-900 uppercase;
  }
  .carousel {
    display: inline-flex;
    overflow-x: hidden;
    /*  scroll snap is a great feature which will center the image on snap on touch screen devices  */
    scroll-snap-type: x mandatory;
    /* all below will hide the scrollbar on all browsers.    */
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
  }
  .dialog-panel {
    @apply w-11/12
    sm:w-8/12 
    transform 
    overflow-hidden 
    rounded-2xl 
    bg-white 
    p-6 
    text-left 
    align-middle 
    shadow-xl 
    transition-all
  }
  .dialog-close {
    @apply hover:text-black 
    hover:cursor-pointer 
    text-gray-500 
    font-semibold
    float-right 
    text-lg;
  }
}
